// Place all the styles related to the Hives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hive-number {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    background: #FBCF7B;
    color: #383838;
    height: 50px;
    text-align: center;
    float: left;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-top: 4px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}
.hive {
	width: 170px;
    display: inline-table;
    float: none;
}
.hives {
    overflow: hidden;
    width: 1000px;
    overflow-x: scroll;
    padding-top: 70px;
    padding-bottom: 10px;
}
.scrollable {
	width:3000px;
}